
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    border: 3px solid green;
    margin: 20px;
    flex-direction: column;
    width: 800px;
    height: 800px;
}

.box-cont{
    display: flex;
    /* border: 1px solid red; */
    flex: 1;
}

.box {
    flex:1;
    border: 1px solid pink;
    
}