
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    font-family: monospace;
    background-color: bisque;
    color: rgb(86, 86, 134);
}
.container {
    display: flex;
    border: 3px solid green;
    margin: 10px;
    flex-direction: column;
    width: 700px;
    height: 700px;
}

.box-cont{
    display: flex;
    /* border: 1px solid red; */
    flex: 1;
}

.box {
    flex:1;
    border: 0.1px solid pink;
    
}

.box.hover {
    background-color: rgb(57, 37, 37);
    border-color:  rgb(57, 37, 37);
}